/*
* Your Stylesheet
*
* This stylesheet is loaded when Atom starts up and is reloaded automatically
* when it is changed and saved.
*
* Add your own CSS or Less to fully customize Atom.
* If you are unfamiliar with Less, you can read more about it here:
* http://lesscss.org
*/


/*
* Examples
* (To see them, uncomment and save)
*/
@jurgen-very-dark-grey: hsl(228, 7%, 12%);
@jurgen-soft-yellow: rgba(255, 251, 158, .5);
@jurgen-white: rgba(255, 255, 255, .40);

// Style the background color of the tree view
.tree-view {
    // background-color: whitesmoke;
}

// Style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {

    .syntax--meta.syntax--class {
        color: #cbcdd2 !important;
    }

    span.keyword.other.phpdoc.php {
        color: red;
    }

    // .source.php {}

}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor .cursor {
    // border-color: red;
}

atom-text-editor.editor .selection .region {
    background-color: lighten(@jurgen-very-dark-grey, 10%);
    // background-color: @jurgen-white;
}




.source.php {
    .keyword.phpdoc {
        color: #eb3d54 !important;
    }
}

.tab-bar .tab {
    // max-width: 260px;
}

.other {
    color: #eb3d54 !important;
}


.phpdoc {
    color: blue !important;
}



.indent-guide-improved {

    background-color: rgba(255, 255, 255, .07);

    &.indent-guide-stack {

        // background-color: rgba(255, 255, 255, .25);
        background-color: rgba(255, 255, 255, .07);

        &.indent-guide-active {
            background-color: rgba(255, 255, 255, .25);
        }

    }

}


.markdown-preview.markdown-preview {

    color: rgb(87, 87, 87);
    font-size: 13px;
    line-height: 13px;

    h1,
    h2,
    h3,
    h4,
    h5,
    strong {
        color: rgb(0, 0, 0);
        margin-bottom: 5px;
    }

    hr {
        height: 1px;
        margin: 30px 0px 16px 0px;
    }

    i.icon {

        display: inline-block;
        line-height: 1.35em;
        vertical-align: middle;
        background-repeat: no-repeat;
        border: solid 1px red;

        &:before {
            content: '\e847';
            font-size: 40px;
        }

    }

}



atom-text-editor.editor .cursor-line {
    // border-top: solid 1px red;
    // border-bottom: solid 1px red;
}


atom-text-editor.editor {

    // The cursor line important to use rgba for opacity, also requires !important
    // to override any theme.
    .line.highlight-line {
        background: rgba(255, 255, 255, 0.05) !important;
    }

    // Replace 'solid', with 'dashed' or 'dotted' depending of what you have
    // set in the settings page.

    // This is for the bottom line (underline)
    .line.highlight-line-multi-line-solid-bottom {
        border-bottom-color:  rgba(255, 255, 255, 0.1) !important;
    }

    // This is for the top line when you have the selection borders enabled.
    .line.highlight-line-multi-line-solid-top {
        border-top-color:  rgba(255, 255, 255, 0.1) !important;
    }

}
